<% provide(:title, t('.title')) %>
<% content_for :h1 do %>
  <h1><%= t('.title') %></h1>
<% end %>
<div class="condicions">
  <ul>
    <li><a href="#com_comprar" title="Com comprar a Quatremans?">Com comprar a Quatremans?</a></li>
    <li><a href="#com_saber_si_comanda_realitzada" title="Cóm saber si la comanda s’ha realitzat correctament?">Cóm saber si la comanda s’ha realitzat correctament?</a></li>
    <li><a href="#preus" title="Preus">Preus</a></li>
    <li><a href="#disponibilitat_de_productes" title="Disponibilitat de productes">Disponibilitat de productes</a></li>
    <li><a href="#comandes_minimes_maximes" title="Comandes mínimes i màximes">Comandes mínimes i màximes</a></li>
    <li><a href="#transport" title="Transport">Transport</a></li>
    <li><a href="#canvis_devolucions" title="Canvis i devolucions">Canvis i devolucions</a></li>
    <li><a href="#formes_pagament" title="Formes de pagament">Formes de pagament</a></li>
    <li><a href="#seguretat_pagaments_tarjeta" title="Seguretat en els pagaments amb tarjeta">Seguretat en els pagaments amb tarjeta</a></li>
    <li><a href="#dades_personals" title="Comprovació de dades personals">Comprovació de dades personals</a></li>
    <li><a href="#enllacos_altres_pagines" title="Enllaços a altres pàgines">Enllaços a altres pàgines</a></li>
    <li><a href="#politica_privacitat" title="Política de privacitat">Política de privacitat</a></li>
  </ul>

  <a name="com_comprar" title="Com comprar a Quatremans?"></a>
  <h2>Com comprar a Quatremans?</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <p>Per a revisar la cistella completa i determinar les quantitats que desitja rebre de cada producte, haurà de prémer a la pestanya “Veure Cistella”. Una vegada que hagi seleccionat tots els productes que desitja, premi el botó “Actualitzar Comanda” i, finalment, des d’aquesta mateixa pàgina, podrà prémer el botó “Realitzar Comanda” quan desitgi començar amb el procés de compra. Després, tan sols haurà de seguir les instruccions que l’hi anirà donant la pàgina. Si trobés alguna dificultat al llarg del procés, posi’s en contacte amb nosaltres a info@quatremans.cat o trucant al telèfon 93 809 08 15 i l’hi ajudarem a resoldre el problema.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="com_saber_si_comanda_realitzada" title="Cóm saber si la comanda s’ha realitzat correctament?"></a>
  <h2>Cóm saber si la comanda s’ha realitzat correctament?</h2>

  <p>Una vegada ha realitzat la seva comanda, rebrà a la seva adreça de correu electrònic un e-mail de confirmació amb totes les seves dades de la compra. Aquesta es la verificació de que la seva comanda s’està gestionant. Si vostè ha realitzat la compra i no rep el e-mail de confirmació, si us plau, posi’s en contacte amb nosaltres a info@quatremans.cat o trucant al telèfon 93 809 08 15.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="preus" title="Preus"></a>
  <h2>Preus:</h2>

  <p>Tots els nostres preus inclouen l’IVA. Els preus mostrats son en Euros (€).

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="disponibilitat_de_productes" title="Disponibilitat de productes"></a>
  <h2>Disponibilitat de productes:</h2>

  <p>En un principi, tots els nostres productes estan disponibles, a menys que s’indiquin com a “no disponibles”. Tingui en compte que gairebé tots els nostres productes hi tenen una producció limitada, degut a la seva naturalesa artesana.</p>

  <p>Les nostres bases de dades s’actualitzen automàticament en confirmar-se les comandes, així doncs, es pràcticament impossible que vostè demani un producte no disponible; en cas de que  arribés a ocórrer, contactarem immediatament amb vostè per proposar-li un producte semblant o reemborsar-li la quantitat corresponent.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="comandes_minimes_maximes" title="Comandes mínimes i màximes"></a>
  <h2>Comandes mínimes i màximes:</h2>

  <p>No existeixen comandes mínimes però tingui en compte que una bona forma de minimitzar les despeses de transport es fen una comanda gran, inclòs per a compartir entre varis amics o familiars. Si la comanda supera els 100€ de despesa i no supera els 15 kg. el transport serà gratuït per als enviaments a la península.</p>

  <p>El pes màxim per comanda es de 40 Kg. Per a comandes de pes superior, posi’s en contacte amb nosaltres.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="transport" title="Transport"></a>
  <h2>Transport:</h2>

  <p>Per a poder garantir un transport correcte i una entrega adequada, treballem amb ENVIALIA, SPAINTIR Y TNT, empreses amb molta experiència, reconeguda i certificada. Tots els enviaments estan adequadament envasats i protegits.</p>

  <p>A “Quatremans” utilitzem caixes de cartró, cinta d’embalatge i material de protecció i farcit reciclable. Recordi que s’ha de treure  la cinta del cartró a l’hora de separar els desfets.</p>

  <p>En condicions normals, les comandes rebudes de dilluns a dijous abans de les 11:00 hores s’entregaran el dia següent. En aquest cas, el temps d’entrega es de 24/48 hores per Espanya (dies laborals).</p>

  <p>Degut a que els caps de setmana no n’hi ha servei de transport, i a que preferim que els nostres aliments no dormin en un magatzem tot el cap se setmana, les comandes  rebudes des de el dijous després de les 11:00 hores fins el dilluns abans de les 11:00 h, s’enviaran el dilluns, per tant, la entrega serà efectiva el dimarts.</p>

  <p>La nostra botiga online està dirigida a qualsevol consumidor resident a la Espanya peninsular, balears i unió europea, pel qual s’exceptua el servei a Illes Canàries, Ceuta, Melilla i Gibraltar. Si resideix en aquestos territoris o en altres, pot posar-se en contacte amb nosaltres a info@quatremans.cat o telefonant al número 93 809 08 15, a on podrem informar-li i facilitar-li  un tracte més personalitzat.</p>

  <p>No farem enviaments a apartats de Correos y preguem faci las seves comandes el més per anticipat possible durant l’època de Nadal, ja que podríem trigar fins 72 hores per qüestions de logística.</p>

  <p>El preu del transport s’indicarà automàticament quan hagi afegit els articles a la cistella de la compra; també pot consultar el preu per pes i destí a les taules següents.</p>

  <p>Tingui en compte que si la comanda supera els 100 € d’import i no passa dels 15 kg, el transport serà gratuït per a enviaments a la península.</p>



  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="canvis_devolucions" title="Canvis i devolucions"></a>
  <h2>Canvis i devolucions:</h2>

  <p>Si per qualsevol raó no li satisfà la seva compra, pot contactar amb nosaltres a info@lagotigadelartesa.com o telefonant al numero 93 809 08 15, en un temps màxim de 7 dies laborals des de la recepció de la comanda, indicant clarament quin  es el problema. En el temps més breu possible ens posarem en contacte amb vostè  per a trobar una solució satisfactòria i indicar-li els passos a seguir.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="formes_pagament" title="Formes de pagament"></a>
  <h2>Formes de pagament:</h2>

   
  <p>El pagament es realitzarà amb tarja de dèbit o crèdit, que es el medi més utilitzat al comerç electrònic, donat l’alt nivell de seguretat que ofereix i la seva comprovada agilitat. Aquesta forma de pagament es pot realitzar a traves de Caixa de Catalunya o de Paypal, una vegada finalitzi la comanda, serà redireccionat a la web corresponent i solament tindrà que teclejar el seu número de tarja i data de caducitat, el sistema de pagament segur registrarà la operació.</p>

  <p>No obstant, si vostè ho prefereix, també podrà realitzar el pagament mitjançant transferència bancària prèvia al número de compte 3140 0001 93 0011022500 de Caixaguissona, els enviarem la seva comanda en el moment en que la transferència es faci efectiva, o contra reembossament amb un suplement del 5 % amb un mínim de 5 € sobre el preu total de la comanda.</p>

  <p>Per qualsevol dubte, agrairíem es poses en contacte amb nosaltres a info@quatremans.cat o trucant al telèfon 93 809 08 15 per informar-li i facilitar-li un tracte més personalitzat.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="seguretat_pagaments_tarjeta" title="Seguretat en els pagaments amb tarjeta"></a>
  <h2>Seguretat en els pagaments amb tarjeta:</h2>

  <p>El servei de pagament amb tarja bancaria está cancelat fins nou avis.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="dades_personals" title="Comprovació de dades personals"></a>
  <h2>Comprovació de dades personals:</h2>

  <p>“Quatremans” es reserva el dret de contactar amb els seus clients y/o efectuar determinades comprovacions quan el consideri oportú, amb la finalitat de garantir l’autenticitat de les dades personals per evitar frau amb targes de crèdit.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="enllacos_altres_pagines" title="Enllaços a altres pàgines"></a>
  <h2>Enllaços a altres pàgines:</h2>

  <p>A la nostra pàgina disposem d'enllaços a altres pàgines web que creiem que poden ser d’interès per als nostres clients. Encara així, ““Quatremans”” no es fa responsable del contingut que pugui aparèixer a elles.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

   

  <a name="politica_privacitat" title="Política de privacitat"></a>
  <h2>Política de privacitat:</h2>

  <p>“Quatremans” respecta el seu dret de privacitat: només utilitzem les seves dades personals per oferir un millor servei. Baix cap concepte els vendrem o compartirem amb tercers. En qualsevol moments podrà accedir a ells, cancel·lar-los o rectificar-los.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>

</div>