<% provide(:title, t('.title')) %>
<% content_for :titols do %>
  <h1><%= t('.title') %></h1>
<% end %>
<p>
  <br /><br /><br />
  Ho estem acabant... Perdoneu!<br />
  <%= mail_to "info@quatremans.cat", "info@quatremans.cat", :encode => "hex" %>
</p>