<% provide(:title, t('.title')) %>
<% content_for :h1 do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="quisom">
  <ul>
    <li><a href="#quisom" title="Qui som Quatre Mans?">Qui som Quatre Mans?</a></li>
    <li><a href="#nina" title="La nostra nina Caterina">La nostra nina Caterina</a></li>
    <li><a href="#cosir" title="Vols aprendre a cosir amb nosaltres?">Vols aprendre a cosir amb nosaltres?</a></li>
    <li><a href="<%= contacte_path %>" title="Com contactar amb nosaltres">Vols contactar amb nosaltres?</a></li>
  </ul>

  <a name="quisom" title="Qui som Quatre Mans?"></a>
  <h2>Qui som Quatre Mans?</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>



  <a name="nina" title="La nostra nina Caterina"></a>
  <h2>La nostra nina Caterina</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>



  <a name="cosir" title="Vols aprendre a cosir amb nosaltres?"></a>
  <h2>Vols aprendre a cosir amb nosaltres?</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt">Tornar a dalt</a>


