<footer>
  <ul>
    <li><%= link_to t('static_pages.contacte.title'), contacte_path, :title => t('static_pages.contacte.title_seo') %></li>
    <li><%= link_to t('static_pages.preguntes_respostes.title'), quisom_path(:anchor => t('static_pages.quisom.anchor_faq')), :title => t('static_pages.preguntes_respostes.title_seo') %></li>
    <li><%= link_to t('static_pages.condicionscompra.title'), condicionscompra_path, :title => t('static_pages.condicionscompra.title_seo') %></li>
  </ul>
</footer>