@import "_variables";

#coleccio {
  width:970px; 
  height:550px; 
  .jTscrollerContainer { height: 550px; }
  .jTscroller { 
    width: 2740px;
    height: 550px;
    img, svg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      position: absolute;
      display: none;
      margin: 0; 
      border: none; 
      padding: 0; 
      float: none; 
      text-align: center;
      font-style: italic;
      font-size: 1.2em;   
      line-height: 1.2em;  
    }
  }
}
#text {
  font-size: 1.2em;
  color: #666;
  font-style: italic;
  text-align: left;
}

