@import "_variables";

#coleccio {
  width:970px; 
  height:550px; 
  .jTscrollerContainer { height: 550px; }
  .jTscroller { 
    width: 2719px;
    height: 550px;
    img, svg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      position: absolute;
      display: block;
      margin: 0; 
      border: none; 
      padding: 0; 
      float: none; 
      opacity: 0;
      text-align: center;
      font-style: italic;
      font-size: 1.2em;   
      line-height: 1.2em;  
    }
  }
}