/* mixins, variables, etc. */
@import "_variables";
$grayMediumLight: #cc9999;
$grayDarker: $colorDarker;
$grayDark: $colorDark;
$gray: $color;
$navbarLinkColor: $colorLigher;
$navbarLinkColorHover: $colorLight;
$textColor: $grayDarker;
$navbarBackgroundHighlight: $colorDarker;
$navbarBackground: $colorDark;


@font-face {
    font-family: 'dejavu';
    src: url('dejavusanscondensed-webfont.eot');
    src: url('dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-webfont.woff') format('woff'),
         url('dejavusanscondensed-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-webfont.svg#dejavu_sans_condensedbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu';
    src: url('dejavusanscondensed-bold-webfont.eot');
    src: url('dejavusanscondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-bold-webfont.woff') format('woff'),
         url('dejavusanscondensed-bold-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-bold-webfont.svg#dejavu_sans_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu';
    src: url('dejavusanscondensed-oblique-webfont.eot');
    src: url('dejavusanscondensed-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-oblique-webfont.woff') format('woff'),
         url('dejavusanscondensed-oblique-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-oblique-webfont.svg#dejavu_sans_condensedoblique') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'dejavu';
    src: url('dejavusanscondensed-boldoblique-webfont.eot');
    src: url('dejavusanscondensed-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-boldoblique-webfont.woff') format('woff'),
         url('dejavusanscondensed-boldoblique-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-boldoblique-webfont.svg#dejavu_sans_condensedBdOb') format('svg');
    font-weight: bold;
    font-style: italic;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: dejavu;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

div { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $colorDark;
  line-height: 1.3em;
  margin: 0; 
  padding: 0;
}
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }

a, a:hover, a:active, img, a img, a:hover img, a:active img {
  border: none;
  outline: none;
  -moz-outline-style: none;
}
a {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $colorDarker;
  }
}

.container {
  position: relative;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}


header {
  height: 150px;
  position: relative;
  z-index: 50;
  display: block;

  #logo {
    position: absolute;
    left: -45px;
    bottom: -40px;
    width: 180px;
    height: 180px;
  }

  .titols {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
  }

  ul {
    position: absolute;
    right: 0;
    top: 10px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.1em;
    list-style: none; 
    padding: 0;
    li {
      float: left;
      margin-left: 20px;
      list-style: none;
      .caret {
        display: inline-block;
        margin-top: 8px;
        margin-left: 2px;
        width: 0;
        height: 0;
        vertical-align: top;
        border-top: 4px solid black;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        opacity: 0.3;
        filter: alpha(opacity=30);
      }      
    }
  }
  #idiomes, #xarxes {
    .dropdown-menu {
      z-index: 100;
      left: auto;
      right: 0px;
      min-width: 130px;
      padding: 8px 0;
      font-size: 0.8em;
      li { 
        height: 20px; 
        float: none;
        margin: 0;
        a { 
          padding:0; 
          margin:0; 
          width: 130px; 
          text-align:center; 
          &:hover, &.selected {
            background-color: #eee;
            color: #555;
          }
          &.selected {
            font-weight: bold;
          }
        }
      }
    }
  }
  #xarxes {
    margin-top: -3px;
    a img { vertical-align: bottom; }
    .dropdown-menu {
      li { 
        height: 30px; 
        a {
          text-align: left;
          vertical-align: bottom;
          img { vertical-align: middle; margin: 0 10px; }
        }
      }
    }
  }
  li#cistella {
    height: 24px;
    display: inline-block;
    margin-right: 30px;
    margin-top: -5px;
    overflow: visible;
    font-size: 0.8em;
    a {
      display: inline-block;
      position: relative;
      width: 200px;
      height: 24px;
      text-align: right;
      background: url('/assets/cart.png') no-repeat right top;
      span {
        padding-right: 32px;
        line-height: 30px;
        display: none;
        visibility: hidden;
      }
      &:hover {
        background-position: right -24px;
        span {
          display: inline;
          visibility: visible;
        }
      }
    }
  }
  li#usuari {
    height: 24px;
    display: inline-block;
    margin-right: 30px;
    margin-top: -5px;
    overflow: visible;
    font-size: 0.8em;
    a {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      &:hover {
        background-position: left -35px;
      }
      &.account, &.signup {
        background: url('/assets/user.png') no-repeat left -5px;
      }
      &.signin, &.signout {
        background: url('/assets/lock.png') no-repeat left -5px;
      }
    }
  }
}

.content {
  clear: both;
  margin: 10px 0 0 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}



label {
  display: block;
  float: left;
  width: 500px;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #555;
  clear: both;
  a {
    color: #555;
    &:hover { 
      color: #000;
    }
  }  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li { margin: 0px 20px; float:none; display: inline-block; }
  }
}





/* miscellaneous */

.debug_dump {
  display: none;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  @include box_sizing;
}  


/* forms */


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.alert {
  text-align: right;
  &.alert-error, &.alert-alert { color: red; }
  &.alert-notice { color: green; }
}
