
body {
  background-color: white;
}

.container {
  width: 970px;
}

.content {
  height: 700px;
  header {
    position: absolute;
    width: 970px;
    height: 10px;
    h1 {
      position: absolute;
      left: 64px;
      top: 64px;
      width: 205px;
      height: 210px;
      z-index: 100;
    }
    #menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: 99;
      a {
        position: absolute;
        span {
          display: none;
          visibility: hidden;
        }
        &#coleccions_link {
          left: 516px;
          top: 0px;
          width: 129px;
          height: 100px;
          background-image: url('/assets/home/menu_coleccions.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -100px;
          }
        }
        &#quisom_link {
          left: 669px;
          top: 0px;
          width: 97px;
          height: 82px;
          background-image: url('/assets/home/menu_quisom.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -82px;
          }
        }
      }
      #idiomes {
        position: absolute;
        left: 801px;
        top: 0px;
        width: 125px;
        height: 63px;
        .dropdown-toggle {
          position: absolute;
          right: 10px;
          top: 0px;
          width: 115px;
          height: 63px;
          background-image: url('/assets/home/menu_idiomes.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -63px;
          }
        }
        .dropdown-menu {
          z-index: 99;
          top: 68px;
          left: auto;
          right: 0px;
          min-width: 130px;
          padding: 8px 0px;
          li { 
            height: 20px; 
            a { 
              padding:0; 
              margin:0; 
              width: 130px; 
              text-align:center; 
              &:hover {
                background-color: #eee;
                color: #555;
              }
              &.selected {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  #fotos {
    z-index: 10;
    img#links { position: absolute; width: 970px; height: 700px; }
    div {
      position: absolute;
      &#aprendre {
        left: 64px;
        top: 240px;
        width: 433px;
        height: 390px;
        a { }
      }
      &#models {
        left: 191px;
        top: 260px;
        width: 550px;
        height: 427px;
      }
      &#nina {
        left: 514px;
        top: 48px;
        width: 414px;
        height: 508px;
      }
    }
  }
}

.footer {
  margin-top: 40px;
  small { display: none; }
  ul {
    float: none;
    text-align: center;
    li { margin: 0px 10px; float:none; display: inline-block; }
  }
}
