

.container {
  width: 970px;
}

.content {
  height: 860px;
  header {
    position: absolute;
    width: 970px;
    height: 10px;
    h1 {
      position: absolute;
      left: 64px;
      top: 64px;
      width: 205px;
      height: 210px;
      z-index: 80;
    }
    #menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: 99;
      a {
        position: absolute;
        span {
          display: none;
          visibility: hidden;
        }
        &#coleccions_link {
          left: 516px;
          top: 0px;
          width: 129px;
          height: 100px;
          background-image: url('/assets/home/menu_coleccions.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -100px;
          }
        }
        &#quisom_link {
          left: 669px;
          top: 0px;
          width: 97px;
          height: 82px;
          background-image: url('/assets/home/menu_quisom.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -82px;
          }
        }
      }
      #idiomes {
        position: absolute;
        left: 801px;
        top: 0px;
        width: 125px;
        height: 63px;
        .dropdown-toggle {
          position: absolute;
          right: 10px;
          top: 0px;
          width: 115px;
          height: 63px;
          background-image: url('/assets/home/menu_idiomes.png');
          background-position: 0 0;
          &:hover {
            background-position: 0 -63px;
          }
        }
        .dropdown-menu {
          top: 68px;
          font-size: 1em;
        }
      }
      #xarxes {
        .dropdown-menu {
          left: 0;
          right: auto;
          top: 30px;
        }
      }
    }
  }
  #fotos {
    z-index: 10;
    img#links { position: absolute; width: 970px; height: 700px; }
    div {
      position: absolute;
      &#aprendre {
        left: 64px;
        top: 240px;
        width: 433px;
        height: 390px;
        a { }
      }
      &#models {
        left: 191px;
        top: 260px;
        width: 550px;
        height: 427px;
      }
      &#nina {
        left: 514px;
        top: 48px;
        width: 414px;
        height: 508px;
      }
    }
  }
  #text {
    font-size: 1.3em;
    position: absolute;
    bottom: 40px;
    right: 190px;
    left: 150px;
    color: #666;
    font-style: italic;
    text-align: center;
  }
}

