@import "_variables";

body.producte {
  .content {
    /*height: 550px;*/
    .content2 { padding: 0; }
    background-color: transparent;
    .quadre {
      background-color: white;
    }
  }
}

.fotos {
  position: absolute;
  left: 0;
  width: 350px;
  height: 423px;
  overflow: hidden;
  img {
    max-width: none;
    width: 350px;
    height: 423px;
  }
}
.dibuix {
  position: absolute;
  left: 360px;
  width: 330px;
  height: 423px;
  overflow: hidden;
  img, svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .personalitza_text {
    display: none;
    color: $colorDark;
    position: absolute;
    left: 40px;
    top: 300px;
    font-size: 2em;
  }
}

.dret {
  width: 270px;
  height: 423px;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  .descripcio {
    height: 360px;
    width: 100%;
    right: 0;
    padding-top: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    line-height: 1.5em;
  }
  .dificultat {
    position: absolute; 
    right: 0;
    top: 0px;
    margin: 0;
    span, img { display: block; float: left; }
    span { margin-right: 20px; line-height: 30px; text-transform:uppercase; }
  }
  .preu {
    margin: 0;
    line-height: 24px;
    font-size: 24px;
    position: absolute; 
    text-align: right;
    right: 0px;
    bottom: 20px;
    a { 
      display: inline-block;
      float: left;
      margin-right: 10px;
      background: url(/assets/cart.png) no-repeat right 0px;
      width: 24px;
      height: 24px;
      &:hover {
        background-position: right -24px;
      }
      span { display: none; }
    }
    span { font-size: 0.5em; display:block; color: #555; font-style: italic; }
  }
}

.thumbs {
  margin-top: 3px;
  height: 141px;
  overflow: hidden;
  a {
    width: 117px;
    height: 141px;
    margin-right: 3px;
    float: left;
    display: block;
    img {
      width: 117px;
      height: 141px;
    }
  }
}


@import "productes_llistat";