<li class="span4">
  <div class="thumbnail">
    <%= link_to image_tag("images/1.jpg"), coleccio %>
    <h3><%= link_to coleccio.nom, coleccio %></h3>
    <p><%= simple_format(coleccio.descripcio) %></p>
  </div>
</li>
