<% provide(:title, t(".products")) %>
<h1><%= t(".products") %></h1>

<ul class="products">
  <%= render @products %>
</ul>

<br />
<%= link_to t("products.new.add"), new_product_path, class: "btn btn-large btn-primary" %>
