<% provide(:title, @product.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @product.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
      <h3>Aquí les imatges</h3>
      <ol class="imatges">
      </ol>
  </div>
</div>
<%= link_to "Modifica", edit_product_path(@product), class: "btn btn-large btn-primary" %>
<%= link_to "Elimina", @product, method: :delete, data: { confirm: "Segur?" }, class: "btn btn-large btn-primary" %>
