<footer class="footer">
  <small>
    <a href="http://nina.org/"><%= t('site_title') %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('static_pages.quisom.title'),   quisom_path %></li>
      <li><%= link_to t('static_pages.contacte.title'),   contacte_path %></li>
      <li><%= link_to t('products.index.title'),  products_path %></li>
    </ul>
  </nav>
</footer>