<footer>
  <ul>
    <li><%= link_to t('static_pages.contacte.title'),   contacte_path %></li>
    <li><%= link_to t('static_pages.condicionscompra.title'),   condicionscompra_path %></li>
  </ul>
</footer>