<footer class="footer">
  <small>
    <a href="http://nina.org/">Nina</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Qui som?",   quisom_path %></li>
      <li><%= link_to "Contacte", contacte_path %></li>
    </ul>
  </nav>
</footer>