<footer class="footer">
  <small>
    <a href="http://nina.org/">Nina</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('static_pages.quisom.qui_som'),   quisom_path %></li>
      <li><%= link_to t('static_pages.contacte.contacte'),   contacte_path %></li>
      <li><%= link_to t('products.products'),  products_path %></li>
    </ul>
  </nav>
</footer>