<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Nina", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Qui som?",    quisom_path %></li>
          <li><%= link_to "Contacte",    contacte_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>